/* ------ for AdminDashboard ------ */

.pageContent{
  font-family: Asap, sans-serif;
  width: 100%;
  margin: 0 auto;
}

.fullPanelContainer {
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
}

.leftPanelSelector {
  flex-basis:35%;
  width: 20vw;
  background-color: rgba(100,0,0,.1);
  padding: 10px 10px 10px 10px;
}

#selectedUserInList {
  background-color: rgba(200,0,0,.4);
}

#currentExpertButtons {
  position:absolute;
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPanelDetail {
  text-align: left;
  flex-basis:65%;
  width: 20vw;
  background-color: rgba(0,100,0,.1);
  padding: 10px 10px 10px 10px;
  position: relative;
}

.pleaseLoginContent{
  text-align: center;
  margin: 15% auto;
  width: 80%;
  font-family: Asap, sans-serif;
  color: #48C8D3;
}

/* ------ for UserOverview ---------*/

#userDetailContainer {

}

#lessonProgressContainer {
  display: flex;
  border-right: 2px solid black;
  margin-bottom: 10px;
}

