
.navBarOuterContainer{
    height: 50px;
}

.navBar {
    background-color: whitesmoke;
}

.navContentCont {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.content {
    color: #48C8D3
}

.centerLogoCont{
    width:50%;
    height:100%;
}

.centerLogo{
    height:100%;
    width: 350px;
}

.phxConsciousText {
    color: black;
    font-weight: bold;
}

.bookLogo {
    color: silver;
    width: 10vh;
    margin-left: 0;
    padding-left: 0;
}

.accountCircleIcon {
   color: black;
}

.learnText {
    color: gray;
}