
.navBar {
    background-color: white;
}

.navContentCont {
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;
}

.content {
    color: #48C8D3
}

.centerLogoCont {
    margin-top: 10px;
    width: 50%;
    height: 100%;
}

.centerLogo {
    height: 100%;
    width: 300px;
}

.phxConsciousText {
    color: black;
    font-weight: bold;
}

.bookLogo {
    color: silver;
    width: 10vh;
    font-size: 31px;
    margin-left: 0;
    padding-left: 0;
}

.linkTo {
    text-decoration: none;
}

.rightSideLogoCont{
    min-width: 170px;
}

.accountCircleIcon {
    color: black;
    font-size: 31px;
}

.learnTextCont {
    margin-top: 9px;
}

.phxConsciousTextCont {
    margin-top: 5px;
}

.learnText {
    color: gray;
    font-weight: bold;
    font-size: 16px;
}