.parentContainer {
  /*background-color: pink;*/
  padding: .5em;
  margin: .5em 0 .5em 0;
}

.childrenContainer {
  background-color: #f3f3f3;
  padding: .5em;
}

.childComment{
  marginLeft: 1em;
  background-color: white;
  margin: .5em .5em .5em .25em;
  padding: .5em .5em 0 .5em;
  border-radius: .5em;
}
