.parentContainer {
    /*background-color: pink;*/
    font-family: Asap, sans-serif;
    padding: .5em;
    margin: .5em 0 .5em 0;
}

.childrenContainer {
    background-color: #e8e8e8;
    padding: .2em;
    border-radius: 10px;
}

#form{
    margin: auto;
    max-width: 900px;
    font-family: Asap, sans-serif;
}

.forumTitle {
    font-family: Asap, sans-serif;
    font-weight: bold;
    color: #48C8D3;
}

.childComment {
    background-color: white;
    margin: .5em .5em .5em .25em;
    padding: .5em .5em 0 .5em;
    border-radius: .5em;
}

.textField{
    width: 80% !important;
}

.commentCont {
    width: 80%;
    max-width: 900px;
}

.pleaseLoginText {
    display: flex;
    justify-content: center;
    font-family: Asap, sans-serif;
    color: #48C8D3;
}

.writeUsCommentTextFieldCont{
    text-align: center;
}

.writeUsCommentTextField{
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    font-family: Asap, sans-serif;
}

#signedInCommentField{
    font-size: medium;
    font-family: Asap, sans-serif;
}

.mdl-textfield.mdl-js-textfield.textField.is-upgraded{
    width: 100% !important;
    background-color: white !important;
}

.commentSubmitButton {
    background-color: #48C8D3 !important;
    width: 60%;
    max-width: 170px;
    border-radius: 10px !important;
    color: white;
    font-size: 16px !important;
    height: 35px !important;
    float: right;
    margin: 20px !important;
}

.showMoreCommentsBtnCont {
    margin-top: 20px;
    text-align: center;
}

.showMoreCommentsButton {
    background-color: #9BDD82 !important;
    min-width: 200px !important;
    border-radius: 10px !important;
    color: white;
    font-size: 16px !important;
    height: 45px !important;
    margin-bottom: 30px !important;
}

.submitYourCommentButtonCont {
    margin-top: 20px;
    text-align: center;
}

.submitYourCommentButton {
    background-color: #9BDD82 !important;
    min-width: 200px !important;
    border-radius: 10px !important;
    color: white;
    font-size: 16px !important;
    height: 45px !important;
    margin-bottom: 30px !important;
}