.background {
  min-height: 91.5vh;
  position: relative;
  background-color: #005259;
  padding-top: 10vh;
}

.unitCardsContainer{
  display: inline-block;
  /*flex-basis: 30vw;*/
  z-index: 0;
}

.lessonContentContainer{
  /*flex-basis: 60vw;*/
  z-index: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#lessonContentComponent {
  background-color: white;
  border-radius: 10px;
  height: 100%;
}
