.background {
  min-height: 90.5vh;
  /*width: 100;*/
  background-color: #005259;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-evenly;*/
  padding-top: 20px;
}

.unitCardsContainer{
  display: inline-block;
  flex-basis: 30vw;
}

.lessonContentContainer{
  /*flex-basis: 60vw;*/
}

#lessonContentComponent {
  background-color: white;
  border-radius: 10px;
}
