.fullPanelContainer {
    font-family: Asap, sans-serif;
    color: black;
    margin-top: 20px;
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white !important;
}

.panelTitleCont {
    /*border-bottom: 2px solid #48C8D3;*/
}

.leftPanelSelector {
    border-top: 3px solid white;
    border-right: 3px solid white;
    height: 100vh;
    background-color: white !important;
}

.leftPanelTitle {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: #48C8D3;
}

.rightPanelTitle {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #48C8D3;
}

.rightPanelSectionTitles {
    text-align: center;
    font-size: large;
    color: #48C8D3;
    margin: auto;
}

.rightPanelDetail {
    height: 100vh;
    background-color: white !important;
    margin-top: 3px;
}

.rightPanelSectionTitlesCont {
    padding: 10px;
    max-height: 25px;
    /*background-color: #9BDD82;*/
    border-bottom: 2px solid #9BDD82;
    margin-bottom: 10px;
}
