
.formCont {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.formTitleCont {
    border-bottom: 2px solid #48C8D3;
    margin-left: 10px;
    margin-bottom: 19px;
    width: 93%;
}

.formTitle {
    font-size: 19px;
    text-align: left;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    color: #48C8D3;
    font-family: 'Asap', sans-serif;
}

.inputCont {
    /*text-align: left;*/
    /*width: 100%;*/
}

.formInputCont {
    margin: 10px;
    margin-bottom: 20px;
}

.or {
    margin: 5px;
    margin-top: 15px;
    text-align: center;
    font-size: 19px;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    color: white;
}

.googleButton {
    font-family: 'Asap', sans-serif;
    color: #48C8D3;
}

.googleButton:hover {
    color: #9BDD82;
    background: none;
}

.formInput {
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
    border-radius: 7px;
    font-size: 17px;
    border: none;
}

.inputLabel {
    margin-bottom: 5px;
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    color: white;
    font-family: 'Asap', sans-serif;
}

.errorMessage {
    color: red;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.formButton {
    background-color: #9BDD82;
    width: 30%;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

#loadingText {
    height: 250px;
    width: 250px;
}

.signInFormButton {
    background-color: #48C8D3;
    width: 30%;
    border-radius: 10px;
    color: white;

}

.buttonText {
    font-size: large;
}

ul {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    padding: 0;
    color: #48C8D3;
    text-align: left;
}

li {
    height: 11px;
}

.passwordRequirements {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    color: #48C8D3;
}

.finePrintTop {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
    height: 11px;
}

.passwordRequirementText {
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: #48C8D3;
}

.forgotLinksCont {
    margin-top: 12px;
    font-family: 'Asap', sans-serif;
}

.forgotLinks {
    color: #9BDD82;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

.recoverUsernameSmallTextCont {
    margin-left: 10px;
    margin-top: 0;
    padding: 0;
}

.recoverUsernameSmallText {
    margin-left: 10px;
    color: #48C8D3;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    height: 18px;
}