.formCont {
    margin-bottom: 20px;
    text-align: center;
    /*margin-top: 40px;*/
}

.blueFormCont {
    margin-bottom: 20px;
    text-align: center;
    /*margin-top: 40px;*/
}

.formTitleCont {
    border-bottom: 2px solid #48C8D3;
    margin-left: 10px;
    margin-bottom: 19px;
    width: 93%;
}

.formTitle {
    font-size: 19px;
    text-align: left;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    color: #48C8D3;
    font-family: 'Asap', sans-serif;
}

.inputCont {
    /*text-align: left;*/
    /*width: 100%;*/
    margin: auto;
    max-width: 700px;
}

.formInputCont {
    margin: 10px;
    margin-bottom: 20px;
}

.formFieldContainer {
    /*width: 70%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}

.or {
    margin: 5px;
    margin-top: 15px;
    text-align: center;
    font-size: 19px;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    color: white;
}

.socialMediaLoginButton {
    font-family: 'Asap', sans-serif;
    color: #48C8D3;
}

.socialMediaLoginButton:hover {
    color: #9BDD82;
    background: none;
}

.formInput {
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
    border-radius: 7px;
    font-size: 17px;
    border: none;
}

.inputLabel {
    margin-bottom: 5px;
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    color: white;
    font-family: 'Asap', sans-serif;
}

.errorMessage {
    color: red;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.formButtonContainer {
    height: 50px;
}

.onTheWebFormBtnCont{
    height: 50px;
    background-color: #005259;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 15px;
    /*background-color: #005259;*/
    text-align: center;
}

.onTheWebFormButton {
    background-color: #9BDD82;
    min-width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    height: 35px;
    margin-right: 40px;
}

.formButton {
    background-color: #9BDD82;
    min-width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    height: 35px;
}

div#inputComponent {
    height: 200px;
}

.textFieldCont {
    text-align: center;
    height: 100px;
    margin-bottom: 80px;
    margin-top: 10px;
    flex: 1;
}

.textField {
    height: 100%;
    width: 90%;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: 'Asap', sans-serif;
    font-size: 17px;
}

.textFieldButton {
    background-color: #9BDD82;
    min-width: 200px;
    border-radius: 10px;
    color: white;
    font-size: medium;
    height: 45px;
}

.copiedText {
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
}

#loadingText {
    height: 250px;
    width: 250px;
}

.signInFormButton {
    background-color: #48C8D3;
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
}

.buttonText {
    font-size: large;
}

ul {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    padding: 0;
    color: #48C8D3;
    text-align: left;
}

li {
    height: 11px;
}

.passwordRequirements {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10vh;
    padding: 0;
    color: #48C8D3;
}

.finePrintTop {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
    height: 11px;
}

.passwordRequirementText {
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: #48C8D3;
}

.forgotLinksCont {
    margin-top: 12px;
    min-height: 50px;
    font-family: 'Asap', sans-serif;
}

.forgotLinks {
    color: #9BDD82;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

.forgotLinks:active {
    color: white;
}

.loginTrouble {
    cursor: pointer;
}

.recoverUsernameSmallTextCont {
    margin-left: 10px;
    margin-top: 0;
    padding: 0;
}

.recoverUsernameSmallText {
    margin-left: 10px;
    color: #48C8D3;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    height: 18px;
}

.snackbar {
    font-family: Asap, sans-serif !important;
    font-weight: bold !important;
}

/*.formBtnCont{*/
/*text-align: center;*/
/*height: 80px;*/
/*position: fixed;*/
/*z-index: 1;*/
/*}*/
