.greenFormOuterContainer {
    width: 100%;
    background-color: #075258;
}

.lmsLeftSection {

}

.greenFormLeftTop {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
    margin-bottom: 20px;
}

.greenFormLeftBottom {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
}

.greenFormRightSection {
    margin-top: 20px;
    padding: 10px;
}