#LessonHeaderContainer {

}

#titleContainer {
    width: 100%; /*same as reactPlayer*/
    height: 10vh;
    margin: 6px;
}

#title {
    margin: 0px 0px 0px 0px;
}

#reactPlayerContainer {
}

#reactPlayer {
    margin: 0 auto;
}
