.LmsCardContainer {
  /*display: block;*/
  height: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(65, 126, 131, .7) !important;
  position: absolute;
  /*opacity: .3;*/
  border-radius: 10px;
  /*z-index: 5;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;*/
}

.imageContainer {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*overflow: hidden;*/
  /*background-color: green;*/
  /*position:relative;*/
}

.LmsImage {
  /*position: relative;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  height: 100%;
  width: 80%;
  background-color: black;
  margin-top: auto;
  margin-bottom: auto;
  z-index: -1;
}

.leftSide {
  /*height: 100%;*/
  /*flex: 1;*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
}

.rightSide {
  /*height: 100%;*/
  /*flex: 1;*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
}

#currentCard {
  background-color: #99DE7E !important;
  color: #005259 !important;
}

.locked {
  background-color: rgba(65, 126, 131, 1) !important;
  /*z-index: 1;*/
}

.unlocked {
  background-color: white;
}

.greyText {
  color: #A7A7A7;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.titleCheckboxRow {
  /*margin-top: 5px;*/
  /*height: 30px;*/
  /*display: flex;*/
  /*flex-direction: row;*/
}


/*.lmsTitleSpan {

  position:relative;
  z-index: 3;
}
*/

.lmsTitle {
  position: relative;
  z-index: 3;
  font-weight: 800;
  font-size: 1em;
  color: #005259;
}

.lmsTitleCont{
  padding-top:6%;
  height: 10vh;
}

.lmsCheckboxSpan {
  position: relative;
  z-index: 3;
  float: right;
}

.lmsDescription {
  font-size: 1em;
  line-height: 100%;
  color: #005259;
  /*margin-right: 5px;*/
}

.lockIcon {
  position: absolute;
  left: 45%;
  top: 45%;
  z-index: 3;
  font-size: 15px;
  /*margin-left: 22.5vw;*/
  /*margin-top: 38px;*/
}
