.LmsCardContainer{
  height: 100px;
  width: 45vw;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.LmsImage{
  height: 70px;
  width: 80%;
  background-color: black;
  margin: 15px;
}

.leftSide{
  height: 100%;
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

.rightSide{
  height: 100%;
  width: 65%;
  display: inline-block;
  vertical-align: middle;
}

#currentCard{
  background-color: #99DE7E !important;
  color: #005259 !important;
}


.locked{
  background-color: #417E83 !important;
}

.unlocked {
  background-color: white;
}

.greyText {
  color: #A7A7A7;
}

.titleCheckboxRow {
  margin-top: 5px;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.lmsTitleSpan {
  width: 88%;
}

.lmsTitle{
  font-weight: 800;
  font-size: 1em;
  color: #005259;
}

.lmsCheckboxSpan {
  width: 12%;
  display: inline;
}

.lmsDescription{
  font-size: 1em;
  line-height: 100%;
  color: #005259;
  margin-right: 5px;
}

.lockIcon{
  font-size: 2em;
  position: fixed;
  background-color: red;
  height: 20px;
  width: 20px;
}
