
.checkbox {
  height: 1px;
  width: 1px;
}

.lessonIconContainer {
  display: flex;
}

.red {
  height: 8px;
  width: 8px;
  margin: 10px 10px 10px 10px;
  border: 1px solid #707070;
  border-radius: 20px;
}

.green {
  height: 12px;
  width: 12px;
  margin: 8px 10px 8px 10px;
  background-color: #707070;
  border: 1px solid #707070;
  border-radius: 20px;
}

#gold {
  height: 18px;
  width: 18px;
  margin: 5px 5px 5px 5px;
  background-color: #48C8D3;
  border: 1px solid #707070;
  border-radius: 20px;
}
