.shadowBoxCont{
    background-color: black;
    opacity: 0.80;
    border-radius: 20px;
    text-align: center;
}

.shadowBoxInnerCont{
    height: 100%;
    width: 98%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
