.splashPageContent {
    padding-top: 10vh;
    text-align: center;
}

.getStartedTitle {
    text-align: center;
    font-size: 19px;
    margin-bottom: 4px;
    font-weight: 400;
    color: #48C8D3;
    font-family: 'Asap', sans-serif;
}

.splashText {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #48C8D3;
    font-family: 'Asap', sans-serif;
    /*margin-top: 80px;*/
    line-height: normal;
}

.disabled-link{
    pointer-events: none;
}

.addCompanyMainText {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #48C8D3;
    font-family: 'Asap', sans-serif;
    line-height: normal;
}

.leftArrowText {
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 220px;
    font-family: 'Asap', sans-serif;
    color: #9BDD82;
}

.rightArrowText {
    padding-right: 50px;
    line-height: normal;
    font-weight: bold;
    font-size: 30px;
    padding-top: 220px;
    font-family: 'Asap', sans-serif;
    color: #9BDD82;
}

.startTrainingTextMobile {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Asap', sans-serif;
    color: #9BDD82;
    text-decoration: none;
}

.finishProfileTextMobile {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Asap', sans-serif;
    color: #9BDD82;
    text-decoration: none;
}

.startTrainingTextMobile:hover {
    font-weight: bold;
    font-size: 29px;
    font-family: 'Asap', sans-serif;
    color: #48C8D3;
    text-decoration: none;
}

.finishProfileTextMobile:hover {
    font-weight: bold;
    font-size: 29px;
    font-family: 'Asap', sans-serif;
    color: #48C8D3;
    text-decoration: none;
}

.addMyCompanyText {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Asap', sans-serif;
    color: #9BDD82;
    text-decoration: none;
}

.addMyCompanyText:hover {
    font-weight: bold;
    font-size: 29px;
    font-family: 'Asap', sans-serif;
    color: #48C8D3;
    text-decoration: none;
}

.arrowRight {
    max-width: 180px;
    float: right;
    margin-right: 80px;
}

.arrowLeft {
    max-width: 180px;
    float: left;
    margin-left: 80px;
}

.splashButton {
    background-color: #48C8D3;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    color: white;
    margin: 10px;
    margin-top: 20px;
    font-size: large;
}
