.Cont {
    min-height: 100%;
    min-width: 100%;
    background: url('https://i.imgur.com/OuaQYmj.jpg');
    background-size: cover;
    /*overflow: hidden;*/

    position: fixed;
    z-index: -1;
    background-position: center;
}
