.underwaterBackground {
    background-image: url('https://i.imgur.com/OuaQYmj.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    /*padding: 5% 0;*/

}

.underWaterInnerCont{
    min-height: 87vh;
    padding: 5% 0;
}
