
.App {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.tabSection{
  overflow: hidden;
  padding-top: 30px;
}
.pageCont{
  padding-top: 55px;
}

.consciousBlueColor{
  color: #48C8D3;
  font-family: 'Asap', sans-serif;
}

.mdl-tabs__tab-bar{
  background-color: #005259;
  position: fixed;
  width: 100%;
}
