
.App {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.tabsCont{
}

.tabSection{
  overflow: hidden;
  padding-top: 30px;
}

.pageCont{
  padding-top: 55px;
}

.consciousBlueColor{
  color: #48C8D3;
  font-family: 'Asap', sans-serif;
  margin-right: 10px;
}

.consciousBlueColorAddCo{
  color: #48C8D3;
  font-family: 'Asap', sans-serif;
  margin-right: 40px;
}

.mdl-tabs__tab-bar{
  /*background-color: #005259;*/
  position: fixed;
  width: 100%;
  background-color: #005259;
}
