
.App {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.tabSection{
  height:100vh;
  overflow: auto;
}
.pageCont{
  padding-top: 20vh;
}

.consciousBlueColor{
  color: #48C8D3;
  font-family: 'Asap', sans-serif;
}